@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
header {
    height: 100px;
    width: auto;
}
.cabecera{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: xxx-large;
    margin: 0;
    padding:0;
}
.container{
    margin-top: 5px;
}
nav{
    position: absolute;
    width: 200px;
    height: 100%;
    overflow:auto;
    padding: 0;
}
nav ul{
    list-style: none;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.miniatura{
    margin-top: 10px;
    width: 150px;
    height: 180px;
    transition: 1s;
    filter: grayscale(100%);
}
.miniatura:hover{
    filter: grayscale(0%);
}
.imagenes{
    position: absolute;
    text-align: center;
    margin-left: 203px;
    width: 50%;
}
.imagen-grande{
    width: 500px;
    height: 600px;
}
.cuadro{
    zoom: 70%;
    width: 800px;
    height: 900px;
}
.texto{
    text-align: center;
    margin-left: 60%;
    margin-top: 15%;
    width: 560px;
}
.titlo_c{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: xx-large;
}
.sin-negrita{
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
}
.precio_c{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: x-large;
}
button{
    background-color:#97c1c0;
    border-radius: 15%;
    padding: 20px;
    border: none;
}
button:hover{
    background-color:#04c5c0 ;
}